
<div class="principal">
    <div>
        <button mat-flat-button color="primary" (click)="onClose()">
            <mat-icon>
                keyboard_return
            </mat-icon>
        </button>
    </div>
    <div class="form-contact">
        
            <span>
                <h1>Registrar un nuevo usuario</h1>
            </span>
        
        <br>
        <div style="margin: 20px;">
            <form [formGroup]="elemento" (ngSubmit)="onSubmit()">
                <mat-form-field style="width: 90%;">
                    <mat-label>Nombre de usuario</mat-label>
                    <input matInput placeholder="Ej: pepe grillo" formControlName="user">
                </mat-form-field>
                <br>
                <mat-form-field style="width: 90%;">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput placeholder="Ej: grilloP@hotmail.com" formControlName="email">
                </mat-form-field>
                <br>
                <mat-form-field style="width: 90%;">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
                <br>
                <div style="text-align: center;">
                    <button mat-icon-button type="submit">
                        <mat-icon>save</mat-icon>
                        <span>Registrar</span>
                    </button>
                </div>
            </form>
        </div>


    </div>
</div>