<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">

    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
      <mat-icon *ngIf="drawer.opened">close</mat-icon>
    </button>

    <div>
      <h1 class="example-app-name">{{name}}</h1>
    </div>


    <span class="example-spacer"></span>

    <div *ngIf="name != null; else noLogged2">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item routerLink="">
          <mat-icon>account_box</mat-icon>
          <span>Mi Perfil</span>
        </button> -->
        <button mat-menu-item routerLink="" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar Sesion</span>
        </button>
      </mat-menu>
    </div>

    <ng-template #noLogged2>
      
    </ng-template>
  </mat-toolbar>

  <mat-drawer-container class="example-sidenav-content"  >

    <mat-drawer #drawer style="width: 200px;" mode="side">

      <button mat-menu-item style="cursor: pointer;" routerLink="/login">
        <mat-icon>input</mat-icon>
        <span>Ingresar</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item style="cursor: pointer;" routerLink="/registro">
        <mat-icon>group_add</mat-icon>
        <span>Registrarse</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item style="cursor: pointer;" routerLink="/add">
        <mat-icon>search</mat-icon>
        <span>Buscar</span>
      </button>
      <mat-divider></mat-divider>

    </mat-drawer>
    <div >
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
  
</div>

<!--{{title}}<br><br><br><br>-->
<!--one wey binding, es solo taer la informacion del TS al html-->
<!--<input type="text" [(ngModel)]="title">{{title}}<br><br>-->
<!--two wey binding, es comunicar el
html con el TS, es decir llevar info desde html a el TS-->
<!--<input type="button" value="Click me" (click)="accion('s')">-->
<!--<app-listar [variableX]="2222"></app-listar>-->